<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.erikjosephson.sampras</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/erikjosephson/Applications/Sampras.app/Contents/MacOS/Sampras</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/tmp/sampras-agent.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/sampras-agent.log</string>
</dict>
</plist>
